*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.game {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 300px;
    gap: 10px;
    margin: auto;
    position: relative;
    width: 920px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cell {
    background-color: blue;
}

.symbol {
    color: white;
    font-size: 175px;
    text-align: center;
    line-height: 300px;
}